
@model WEBCloudCash.Entities.entUsuarios


@{
    ViewBag.Title = "Cambiar Usuario";
    Layout = "~/Views/Shared/_Layout_Authenticated.cshtml";
}

<style>
    .hidden {
        display: none;
    }
</style>

<section class="contact-area section-padding-40-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <!-- Contact Area -->
                <div class="contact-form-area contact-page">
                    @using (Html.BeginForm("CambiarUsuario", "Authenticated", FormMethod.Post, new { @class = "pl-5 pr-5 mt-4 mb-4" }))
                    {
                        <br />
                        if (ViewBag.mensaje != null)
                        {
                            if (ViewBag.mensaje == "Actualizada exitosamente")
                            {<div class="alert alert-success" id="success" role="alert" style="text-align:center;">
                                    @ViewBag.mensaje
                                </div>
                            }
                            else
                            {<div class="alert alert-danger" id="danger" role="alert" style="text-align:center;">
                                    @ViewBag.mensaje
                                </div>
                            }
                            <script>
                                setTimeout(function () {
                                    var success = document.getElementById("success");
                                    var danger = document.getElementById("danger");

                                    if (success) {
                                        success.style.display = "none";
                                    }
                                    if (danger) {
                                        danger.style.display = "none";
                                    }
                                }, 4000);
                            </script>
                        }

                        <div id="mensajeContainer" style="text-align:center;"></div>

                        <h2 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; color: black; text-align: center;">Actualizar Nombre de Usuario</h2>
                        <div class="row">
                            <div class="col-lg-12 mb-4">
                                <div class="form-outline">
                                    @Html.TextBoxFor(m => m.cedula, new { @readonly = "@readonly", @id = "cedula", @class = "form-control form-control-lg", @type = "text", @style = "color: white; background-color: #363E48;", @Value = Session["CedulaUsuario"] })

                                    <label style="color: black;" class="form-label">Cédula</label>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-4">
                                <div class="form-outline">
                                    @Html.TextBoxFor(m => m.contrasena, new { @id = "contrasena", @class = "form-control form-control-lg", @type = "password", @placeholder = "Contraseña Actual", @style = "color: white; background-color: #363E48;" })

                                    <label style="color: black;" class="form-label">Contraseña</label>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-4">
                                <div class="form-outline">
                                    @Html.TextBoxFor(m => m.nuevoUsuario, new { @id = "nuevoUsuario", @class = "form-control form-control-lg", @type = "text", @placeholder = "Nuevo Usuario", @style = "color: white; background-color: #363E48;"})
                                    <label style="color: black;" class="form-label">Nuevo Usuario</label>
                                </div>
                            </div>
                            <div class="col-12" style="text-align:center;">
                                <button style="background-color: #293033; border: none; transition: background-color 0.3s; padding: 0.5rem 0.8rem 0.5rem 0.8rem;"
                                        type="submit" class="btn btn-primary mb-3" onmouseover="this.style.backgroundColor='#B30000';" onmouseout="this.style.backgroundColor='#293033';">
                                    <span class="ps-3">Actualizar</span>
                                    <span class="fas fa-arrow-right"></span>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function validacionContrasenaNueva() {
        var contrasenaNueva = document.getElementById("newPassword").value;
        var confirmaContrasenaNueva = document.getElementById("nuevaContrasena").value;
        var contrasenaActual = document.getElementById("contrasena").value;

        if (contrasenaActual == "") {
            document.getElementById('mensajeContainer').innerHTML = '<div class="alert alert-danger" role="alert">La contraseña actual no puede estar vacía.</div>';
        }
        else if (contrasenaNueva != confirmaContrasenaNueva) {
            document.getElementById('mensajeContainer').innerHTML = '<div class="alert alert-danger" role="alert">Las contraseñas no coinciden. Por favor, inténtalo de nuevo.</div>';
        }
        else {
            document.getElementById('mensajeContainer').innerHTML = '<div class="alert alert-success" role="alert">La contraseña nueva coincide.</div>';
        }

        return true;
    }

</script>