
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout_Authenticated.cshtml";
}


<section class="contact-area section-padding-40-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <!-- Contact Area -->
                <div class="contact-form-area contact-page">
                    @using (Html.BeginForm("", "Authenticated", FormMethod.Post, new { @class = "pl-5 pr-5 mt-4 mb-4" }))
                    {
                        <br />
                        if (ViewBag.mensaje != null)
                        {
                            if (ViewBag.mensaje == "Actualizada exitosamente")
                            {<div class="alert alert-success" role="alert" id="success" style="text-align:center;">
                                    @ViewBag.mensaje
                                </div>
                            }
                            else
                            {<div class="alert alert-info" id="danger" role="alert" style="text-align:center;">
                                    @ViewBag.mensaje
                                </div>
                            }
                            <script>
                                setTimeout(function () {
                                    var success = document.getElementById("success");
                                    var danger = document.getElementById("danger");

                                    if (success) {
                                        success.style.display = "none";
                                    }
                                    if (danger) {
                                        danger.style.display = "none";
                                    }
                                }, 4000);
                            </script>
                        }

                        <h2 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; color: black; text-align: center;">Mi Perfil</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-outline mb-4">
                                    @Html.TextBox("cedula", Session["CedulaUsuario"], new { @readonly = "@readonly", @class = "form-control form-control-lg", @type = "text", @placeholder = "Cédula", @style = "color: white; background-color: #363E48;\"" })
                                    <label style="color: black;" class="form-label">Cédula</label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-outline mb-4">
                                    @Html.TextBox("nombre", Session["NombreUsuario"], new { @readonly = "@readonly", @class = "form-control form-control-lg", @type = "text", @placeholder = "Nombre", @style = "color: white; background-color: #363E48;\"" })
                                    <label style="color: black;" class="form-label">Nombre</label>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-outline mb-4">
                                    @Html.TextBox("apellidoUno", Session["Apellido1Usuario"], new { @readonly = "@readonly", @class = "form-control form-control-lg", @type = "text", @placeholder = "Apellido Uno", @style = "color: white; background-color: #363E48;\"" })
                                    <label style="color: black;" class="form-label">Primer apellido</label>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-outline mb-4">
                                    @Html.TextBox("apellidoDos", Session["Apellido2Usuario"], new { @readonly = "@readonly", @class = "form-control form-control-lg", @type = "text", @placeholder = "Apellido Dos", @style = "color: white; background-color: #363E48;\"" })
                                    <label style="color: black;" class="form-label">Segundo apellido</label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-outline mb-4">
                                    @Html.TextBox("nombreUsuario", Session["userName"], new { @readonly = "@readonly", style = "color: white; background-color: #363E48;", @placeholder = "Nombre de Usuario", @class = "form-control form-control-lg", @type = "text" })
                                    <label style="color: black;" class="form-label">Nombre de usuario</label>
                                    <a style="margin-left:1rem;" href="@Url.Action("CambiarUsuario","Authenticated")">actualizar</a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-outline mb-4">
                                    @Html.TextBox("telefono", Session["TelefonoUsuario"], new { @readonly = "@readonly", @style = "color: white; background-color: #363E48;", @placeholder = "Teléfono", @class = "form-control form-control-lg", @type = "text" })
                                    <label style="color: black;" class="form-label">Teléfono</label>
                                    <a style="margin-left:1rem;" href="@Url.Action("CambiarTelefono","Authenticated")">actualizar</a>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-outline mb-4">
                                    @Html.TextBox("correo", Session["CorreoUsuario"], new { @readonly = "@readonly", @style = "color:white; background-color: #363E48;", @placeholder = "Correo electrónico", @class = "form-control form-control-lg", @type = "email" })
                                    <label style="color: black;" class="form-label">Correo electrónico</label>
                                    <a style="margin-left:1rem;" href="@Url.Action("CambiarCorreo","Authenticated")">actualizar</a>
                                </div>
                            </div>
                            <div style="text-align:center;" class="col-lg-12">
                                <a style="margin-left:1rem;" href="@Url.Action("CambiarContrasena","Authenticated")">Actualizar contraseña</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


<script>

    var success = document.getElementById("success");
    var danger = document.getElementById("danger");

    setTimeout(function () {
        success.style.display = "none";
        danger.style.display = "none";
    }, 3000);

</script>
<script src="~/Funciones/ApiConsultarNombres.js"></script>
