@model G4_Proyecto_ProgramacionAvanzada.Entities.entUsuarios

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<section class="vh-50">
    <div class="container-fluid">
        <div class="row mt-2 mb-2" style="align-items: center">
            <div class="col-sm-6 text-black">
                <div class="px-5 ms-xl-4">
                    <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                </div>
                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5 mb-5">

                    @if (ViewBag.MensajeUsuario != null)
                    {
                        <div class="alert alert-danger" role="alert" style="text-align:center">
                            @ViewBag.MensajeUsuario
                        </div>
                    }

                    @using (Html.BeginForm("LogIn", "Usuario", FormMethod.Post, new { style = "width: 23rem;" }))
                    {
                        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Iniciar sesión</h3>
                        <div class="form-outline mb-4">
                            @Html.TextBoxFor(m => m.nombreUsuario, new { @class = "form-control form-control-lg", @type = "text"})
                            <label class="form-label" >Nombre de usuario</label>
                        </div>
                        <div class="form-outline mb-4">
                            @Html.TextBoxFor(m => m.contrasena, new { @class = "form-control form-control-lg", @type = "password" })
                            <label class="form-label">Contraseña</label>
                        </div>
                        <div class="pt-1 mb-4">
                            <input type="submit" class="btn btn-info btn-lg btn-block" value="Ingresar">
                        </div>

                        <p>¿Olvidaste tu contraseña? <a href="@Url.Action("RecuperarContraseña","Usuario")" class="link-info">Recupera tu cuenta aquí.</a></p>
                        <p>¿No tienes una cuenta? <a href="@Url.Action("SolicitarCuenta","Usuario")" class="link-info">Solicita un registro aquí.</a></p>
                    }
                </div>
            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="https://images.pexels.com/photos/6353659/pexels-photo-6353659.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                     alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
            </div>
        </div>
    </div>
</section>


