
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>CloudCash</title>
    <link rel="icon" href="~/Template/img/core-img/favicon.ico">
    <link rel="stylesheet" href="~/Template/style.css">
    <style>
        #botongenerico{
            color: white;
        }
        #botongenerico:hover {
            color: #fff;
        }
    </style>
</head>
<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 d-flex justify-content-between">
                        <!-- Logo Area -->
                        <div class="logo">
                            <a href="@Url.Action("Index", "Home")"><img style="height:110px;" src="~/Template/img/cloudcashlogo-nb-black.png" alt=""></a>
                        </div>

                        <!-- Top Info -->
                        <div class="top-contact-info d-flex align-items-center">



                            @if (Session["CodigoUsuario"] == null)
                            {
                                <a href="#"><img src="~/Template/img/core-img/placeholder.png" alt=""> <span>Oficinas Real Cariari, San José, CR</span></a>
                                <a href="#"><img src="~/Template/img/core-img/message.png" alt=""> <span>cloudcash999@gmail.com</span></a>
                                <a href="@Url.Action("LogIn", "Login")" id="botongenerico" class="btn credit-btn ml-4   h-25 justify-content-center" data-delay="700ms">Iniciar Sesión</a>
                            }
                            else
                            {
                                @Session["NombreCompleto"];
                                <a href="@Url.Action("CerrarSesion", "Login")" id="botongenerico" class="btn credit-btn ml-4   h-25 justify-content-center" data-delay="700ms">Cerrar Sesión</a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="credit-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="creditNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                                    <li><a href="@Url.Action("AboutUs", "Home")">Acerca de Nosotros</a></li>
                                    <li>
                                        <a href="#">Productos</a>
                                        <ul class="dropdown">
                                            <li><a href="@Url.Action("TarjetaCredito", "Home")">Tarjeta de Crédito</a></li>
                                            <li><a href="@Url.Action("TarjetaDebito", "Home")">Tarjeta de Débito</a></li>
                                            <li><a href="@Url.Action("CuentaAhorro", "Home")">Cuenta de Ahorro</a></li>
                                            <li><a href="@Url.Action("CuentaCorriente", "Home")">Cuenta Corriente</a></li>
                                            <li><a href="@Url.Action("CuentaPlanilla", "Home")">Cuenta de Planilla</a></li>
                                            <li><a href="@Url.Action("CreditoVivienda", "Home")">Crédito de Vivienda</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Servicios</a>
                                        <ul class="dropdown">
                                            <li><a href="@Url.Action("Promociones", "Home")">Promociones</a></li>
                                            <li><a href="@Url.Action("EnvioDinero", "Home")">Envío de Dinero</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="@Url.Action("Contact", "Home")">Contacto</a></li>                                    
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Contact -->
                        <div class="contact">
                            <a style="color:#FFFFFF;" href="#"><img src="~/Template/img/core-img/call2.png" alt=""> +506 8480 6994</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <!-- ##### BODY Start ##### -->
    @RenderBody()
    <!-- ##### BODY End ###### -->
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-100-0">
        <div class="container">
            <div class="row">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <h5 class="widget-title">Áreas</h5>
                        <!-- Nav -->
                        <nav>
                            <ul>
                                <li><a href="@Url.Action("Perfil", "Home")">Tarjeta de crédito</a></li>
                                <li><a href="@Url.Action("Perfil", "Home")">Tarjeta de débito</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <h5 class="widget-title">Áreas</h5>
                        <!-- Nav -->
                        <nav>
                            <ul>
                                <li><a href="@Url.Action("CuentaAhorro", "Home")">Cuenta de ahorro</a></li>
                                <li><a href="@Url.Action("CuentaCorriente", "Home")">Cuenta corriente</a></li>
                                <li><a href="@Url.Action("CuentaPlanilla", "Home")">Cuenta de planilla</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <h5 class="widget-title">Sitio</h5>
                        <!-- Nav -->
                        <nav>
                            <ul>
                                @if (Session["NombreCompleto"] != null)
                                {
                                    <li><a href="@Url.Action("Perfil", "Authenticated")">Banca en línea</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("LogIn", "Login")">Banca en línea</a></li>
                                }
                                <li><a href="@Url.Action("AboutUs", "Home")">Nosotros</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copywrite-content d-flex flex-wrap justify-content-between align-items-center">
                            <!-- Footer Logo -->
                            <a href="" class="footer-logo"><img style="height:110px;" src="~/Template/img/cloudcashlogo-nb.png" alt=""></a>

                            <!-- Copywrite Text -->
                            <p class="copywrite-text">
                                <a href="#"></a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                CloudCash &copy;
                                <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Proyecto realizado para Programación Avanzada con <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="~/Template/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Template/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Template/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/Template/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="~/Template/js/active.js"></script>
</body>

</html>









 
