
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(/Template/img/bg-img/5.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Acerda de Nosotros</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Acerca de Nosotros</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ##### Team Member Area Start ##### -->
<section class="team-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Encabezado de la Sección -->
                <div class="section-heading text-center mb-100">
                    <div class="line"></div>
                    <p>Eche un vistazo a nuestro</p>
                    <h2>Nuestro equipo</h2>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Área de un Miembro del Equipo -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member-area mb-100">
                    <div class="team-thumb">
                        <img src="~/Template/img/bg-img/15.jpg" alt="">
                        <!-- Ver más -->
                        <div class="view-more">
                            <a href="@Url.Action("Contact", "Home")">+</a>
                        </div>
                    </div>
                    <div class="team-info">
                        <h5>Janet Smith</h5>
                        <h6>Gerente de Préstamos</h6>
                    </div>
                </div>
            </div>

            <!-- Área de un Miembro del Equipo -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member-area mb-100">
                    <div class="team-thumb">
                        <img src="~/Template/img/bg-img/16.jpg" alt="">
                        <!-- Ver más -->
                        <div class="view-more">
                            <a href="@Url.Action("Contact", "Home")">+</a>
                        </div>
                    </div>
                    <div class="team-info">
                        <h5>Michael Smith</h5>
                        <h6>Analista Financiero</h6>
                    </div>
                </div>
            </div>

            <!-- Área de un Miembro del Equipo -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member-area mb-100">
                    <div class="team-thumb">
                        <img src="~/Template/img/bg-img/17.jpg" alt="">
                        <!-- Ver más -->
                        <div class="view-more">
                            <a href="@Url.Action("Contact", "Home")">+</a>
                        </div>
                    </div>
                    <div class="team-info">
                        <h5>Jessica Williams</h5>
                        <h6>Asesora Financiera</h6>
                    </div>
                </div>
            </div>

            <!-- Área de un Miembro del Equipo -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member-area mb-100">
                    <div class="team-thumb">
                        <img src="~/Template/img/bg-img/18.jpg" alt="">
                        <!-- Ver más -->
                        <div class="view-more">
                            <a href="@Url.Action("Contact", "Home")">+</a>
                        </div>
                    </div>
                    <div class="team-info">
                        <h5>James Smith</h5>
                        <h6>Supervisor de Servicio al Cliente</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- ##### Team Member Area End ##### -->
<!-- ##### Call To Action Start ###### -->

<section class="cta-area d-flex flex-wrap">
    <!-- Contenido de la Sección -->
    <div class="cta-content">
        <!-- Encabezado de la Sección -->
        <div class="section-heading white">
            <div class="line"></div>
            <p>Diseño audaz y soluciones financieras innovadoras</p>
            <h2>Nuestros Logros</h2>
        </div>
        <!-- Descripción de la Página Acerca de Nosotros -->
        <h6 class="mb-0" style="text-align: justify;">
            En CloudCash, nos enorgullece ofrecer soluciones financieras innovadoras y servicios de alta calidad a nuestros clientes.
            Nos esforzamos por superar los límites del diseño audaz y estamos comprometidos a ir más allá para satisfacer las necesidades de nuestra comunidad financiera.
            Morbi ut dapibus dui. Sed ut iaculis elit, quis varius mauris. Integer ut ultricies orci, lobortis egestas sem. Duis non volutpat arcu, eu mollis tellus.
            Sed finibus aliquam neque sit amet sod ales. Maecenas sed magna tempor, efficitur maur is in, sollicitudin augue.
        </h6>
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <!-- Single Cool Facts -->
            <div class="single-cool-fact white d-flex align-items-center mt-50">
                <div class="scf-icon mr-15">
                    <i class="icon-piggy-bank"></i>
                </div>
                <div class="scf-text">
                    <h2><span class="counter">710</span></h2>
                    <p>Afiliados</p>
                </div>
            </div>
            <!-- Single Cool Facts -->
            <div class="single-cool-fact white d-flex align-items-center mt-50">
                <div class="scf-icon mr-15">
                    <i class="icon-coin"></i>
                </div>
                <div class="scf-text">
                    <h2><span class="counter">92</span></h2>
                    <p>Comercios</p>
                </div>
            </div>
            <!-- Single Cool Facts -->
            <div class="single-cool-fact white d-flex align-items-center mt-50">
                <div class="scf-icon mr-15">
                    <i class="icon-diamond"></i>
                </div>
                <div class="scf-text">
                    <h2><span class="counter">12</span></h2>
                    <p>reconocimientos</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Cta Thumbnail -->
    <div class="cta-thumbnail bg-img jarallax" style="background-image: url(/Template/img/bg-img/19.jpg);"></div>
</section>
<!-- ##### Call To Action End ###### -->


<section class="about-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="about-content mb-100">
                    <!-- Section Heading -->
                    <div class="section-heading">

                        <p></p>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="about-thumbnail mb-100">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
