
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>CloudCash</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Template/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="~/Template/style.css">
    <style>
        #botongenerico:hover {
            color: #fff ;
        }
    </style>
</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 d-flex justify-content-between">
                        <!-- Logo Area -->
                        <div class="logo">
                            <a href="@Url.Action("Index", "Home")"><img style="height:110px;" src="~/Template/img/cloudcashlogo-nb-black.png" alt=""></a>
                        </div>

                        <!-- Top Contact Info -->
                        <div class="top-contact-info d-flex align-items-center">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Avenida 999, SJO, CR"><img src="~/Template/img/core-img/placeholder.png" alt=""> <span>Avenida 999, SJO, CR</span></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="cloudcash@cloudcash.com"><img src="~/Template/img/core-img/message.png" alt=""> <span>cloudcash@cloudcash.com</span></a>
                            <a href="@Url.Action("LogIn", "Home")" id="botongenerico" class="btn credit-btn ml-2 botongenerico" data-delay="700ms">Iniciar Secion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="credit-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="creditNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="@Url.Action("Index", "Home")>Inicio</a></li>
                                    <li><a href="about.html">Acerca de Nosotros</a></li>
                                    <li>
                                        <a href="#">Productos</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Tarjeta de Crédito</a></li>
                                            <li><a href="index.html">Tarjeta de Débito</a></li>
                                            <li><a href="about.html">Cuenta de Ahorro</a></li>
                                            <li><a href="services.html">Cuenta Corriente</a></li>
                                            <li><a href="post.html">Cuenta de Planilla</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Servicios</a>
                                        <ul class="dropdown">
                                            <li><a href="post.html">Promociones</a></li>
                                            <li><a href="post.html">Envío de dinero</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contacto</a></li>
                                    <li><a href="@Url.Action("LogIn", "Home")">Banca en línea</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Contact -->
                        <div class="contact">
                            <a style="color:#FFFFFF;" href="#"><img src="~/Template/img/core-img/call2.png" alt=""> +506 2222 2222</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <!-- ##### Hero Area Start ##### -->
    @RenderBody()
    <!-- ##### Newsletter Area End ###### -->
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-100-0">
        <div class="container">
            <div class="row">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <h5 class="widget-title">Áreas</h5>
                        <!-- Nav -->
                        <nav>
                            <ul>
                                <li><a href="#">Tarjetas</a></li>
                                <li><a href="#">Cuentas</a></li>
                                <li><a href="#">Nosotros</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <h5 class="widget-title">Sitio</h5>
                        <!-- Nav -->
                        <nav>
                            <ul>
                                <li><a href="#">Banca en línea</a></li>
                                <li><a href="#">Mapa del sitio</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copywrite-content d-flex flex-wrap justify-content-between align-items-center">
                            <!-- Footer Logo -->
                            <a href="index.html" class="footer-logo"><img style="height:110px;" src="~/Template/img/cloudcashlogo-nb.png" alt=""></a>

                            <!-- Copywrite Text -->
                            <p class="copywrite-text">
                                <a href="#"></a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                CloudCash &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This Template was made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="~/Template/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Template/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Template/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/Template/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="~/Template/js/active.js"></script>
</body>

</html>









 
